In [1]:
import requests
import pandas as pd
import json
from pandas.io.json import json_normalize
from ast import literal_eval
import urllib.parse as urlparse
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
def get_request_query(url, operation, pageno, numofrows, datatype, params, codename, code, serviceKey):
    import urllib.parse as urlparse
    params = urlparse.urlencode(params)
    request_query = []
    for i in range(len(code)):
        f_url = url + "/" + operation + "?" + "pageNo" + "=" + pageno + "&" +"numOfRows" + "="+ numofrows + "&" + "dataType" + "=" + datatype + "&" + params + "&" + codename + "=" + code[i] + "&" + "serviceKey" + "=" + serviceKey
        f_url.encode('utf-8')
        request_query.append(f_url)
        
    return request_query

In [ ]:
from ast import literal_eval
URL = str(input("URL 주소를 입력하시오: "))
API_KEY = str(input("인증키를 입력하시오: "))
OPERATION = str(input("상세기능명을 입력하시오(영문): "))
NUMOFROWS = str(input("한 페이지에 노출할 결과 수를 입력하시오: "))
PAGENO = str(input("페이지 번호를 입력하시오: "))
DATATYPE = str(input("데이터 타입을 입력하시오: "))
PARAMS_KEY = list(input("필수 파라미터명 공백으로 구분하여 입력하시오: ").split())
PARAMS_VALUE = list(input("필수 파라미터값 공백으로 구분하여 입력하시오: ").split())
PARAMS_STR = str(dict(zip(PARAMS_KEY, PARAMS_VALUE)))
PARAMS = literal_eval(PARAMS_STR)
CODENAME = str(input('지점번호, 지역코드와 관련된 항목명을 입력하시오: '))
CODE = list(input('지점번호, 지역코드를 입력하시오: ').split())

In [3]:
URL = "http://apis.data.go.kr/1360000/AsosDalyInfoService"
API_KEY = "0VPHiLnleAB93gjILfRfKRQcBuFBbb9XArHRML7HRiBSrkUV4GZxTwOsm%2Fm%2FloyDIFYPsLSoNQFg2j%2FAfxNfnQ%3D%3D"
OPERATION = "getWthrDataList"
NUMOFROWS = "999"
PAGENO = "1"
DATATYPE = 'XML'
PARAMS= {'dataCd': 'ASOS', 'dateCd': 'DAY', 'startDt': '20200808', "endDt": '20200809'}
#필수 파라미터값 공백으로 구분하여 입력하시오: 2020
CODENAME = "stnIds"
CODE = ["108"]

In [4]:
import requests
request_query = get_request_query(URL, OPERATION,PAGENO, NUMOFROWS, DATATYPE, PARAMS, CODENAME, CODE, API_KEY)
print(request_query)
for query in (request_query):
    print(query)
    response = requests.get(url=query)
print(response.text)

['http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList?pageNo=1&numOfRows=999&dataType=XML&dataCd=ASOS&dateCd=DAY&startDt=20200808&endDt=20200809&stnIds=108&serviceKey=0VPHiLnleAB93gjILfRfKRQcBuFBbb9XArHRML7HRiBSrkUV4GZxTwOsm%2Fm%2FloyDIFYPsLSoNQFg2j%2FAfxNfnQ%3D%3D']
http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList?pageNo=1&numOfRows=999&dataType=XML&dataCd=ASOS&dateCd=DAY&startDt=20200808&endDt=20200809&stnIds=108&serviceKey=0VPHiLnleAB93gjILfRfKRQcBuFBbb9XArHRML7HRiBSrkUV4GZxTwOsm%2Fm%2FloyDIFYPsLSoNQFg2j%2FAfxNfnQ%3D%3D
<?xml version="1.0" encoding="UTF-8"?>
<response><header><resultCode>00</resultCode><resultMsg>NORMAL_SERVICE</resultMsg></header><body><dataType>XML</dataType><items><item><stnId>108</stnId><tm>2020-08-08</tm><avgTa>24.2</avgTa><minTa>22.7</minTa><minTaHrmt>432</minTaHrmt><maxTa>26.1</maxTa><maxTaHrmt>1628</maxTaHrmt><mi10MaxRnHrmt>2028</mi10MaxRnHrmt><hr1MaxRn>5.9</hr1MaxRn><hr1MaxRnHrmt>2026</hr1MaxRnHrmt><sumRn>19.1</sumRn><maxInsWs>7.5</maxInsWs><maxInsWsWd>110</maxInsWsWd><maxInsWsHrmt>1055</maxInsWsHrmt><maxWs>3.7</maxWs><maxWsWd>70</maxWsWd><maxWsHrmt>852</maxWsHrmt><avgWs>2.3</avgWs><hr24SumRws>1949</hr24SumRws><maxWd>70</maxWd><avgTd>22.3</avgTd><minRhm>77</minRhm><minRhmHrmt>1045</minRhmHrmt><avgRhm>89.5</avgRhm><avgPv>27.0</avgPv><avgPa>993.2</avgPa><maxPs>1004.7</maxPs><maxPsHrmt>1</maxPsHrmt><minPs>1001.3</minPs><minPsHrmt>1958</minPsHrmt><avgPs>1002.9</avgPs><ssDur>13.9</ssDur><sumSsHr>1.8</sumSsHr><hr1MaxIcsrHrmt>1600</hr1MaxIcsrHrmt><hr1MaxIcsr>1.08</hr1MaxIcsr><sumGsr>6.96</sumGsr><ddMefs>0.0</ddMefs><ddMefsHrmt>0</ddMefsHrmt><ddMes>0.0</ddMes><ddMesHrmt>0</ddMesHrmt><sumDpthFhsc>0.0</sumDpthFhsc><avgTca>9.1</avgTca><avgLmac>7.3</avgLmac><avgTs>24.9</avgTs><minTg>20.6</minTg><avgCm5Te>25.3</avgCm5Te><avgCm10Te>24.9</avgCm10Te><avgCm20Te>24.9</avgCm20Te><avgCm30Te>25.0</avgCm30Te><avgM05Te>25.1</avgM05Te><avgM10Te>24.5</avgM10Te><avgM15Te>24.0</avgM15Te><avgM30Te>21.2</avgM30Te><avgM50Te>16.7</avgM50Te><sumLrgEv>1.1</sumLrgEv><sumSmlEv>1.5</sumSmlEv><n99Rn>31.1</n99Rn><iscs>{비}1120-{비}{강도0}1200-{비}{강도0}1500-1610. {박무}1145-{박무}{강도0}1200-1230. {비}1825-{비}{강도1}2100-{비}{강도0}2400- {박무}1955-{박무}{강도0}2100-2330.</iscs><sumFogDur>0.0</sumFogDur></item><item><stnId>108</stnId><tm>2020-08-09</tm><avgTa>24.9</avgTa><minTa>23.7</minTa><minTaHrmt>1</minTaHrmt><maxTa>25.8</maxTa><maxTaHrmt>2330</maxTaHrmt><mi10MaxRnHrmt>1107</mi10MaxRnHrmt><hr1MaxRn>13.9</hr1MaxRn><hr1MaxRnHrmt>1337</hr1MaxRnHrmt><sumRn>50.3</sumRn><maxInsWs>12.4</maxInsWs><maxInsWsWd>180</maxInsWsWd><maxInsWsHrmt>1256</maxInsWsHrmt><maxWs>6.8</maxWs><maxWsWd>200</maxWsWd><maxWsHrmt>1241</maxWsHrmt><avgWs>2.6</avgWs><hr24SumRws>2278</hr24SumRws><maxWd>200</maxWd><avgTd>24.0</avgTd><minRhm>89</minRhm><minRhmHrmt>2038</minRhmHrmt><avgRhm>95.4</avgRhm><avgPv>29.9</avgPv><avgPa>992.5</avgPa><maxPs>1003.4</maxPs><maxPsHrmt>2323</maxPsHrmt><minPs>1001.4</minPs><minPsHrmt>835</minPsHrmt><avgPs>1002.2</avgPs><ssDur>13.8</ssDur><sumSsHr>0.0</sumSsHr><hr1MaxIcsrHrmt>900</hr1MaxIcsrHrmt><hr1MaxIcsr>0.17</hr1MaxIcsr><sumGsr>1.43</sumGsr><ddMefs>0.0</ddMefs><ddMefsHrmt>0</ddMefsHrmt><ddMes>0.0</ddMes><ddMesHrmt>0</ddMesHrmt><sumDpthFhsc>0.0</sumDpthFhsc><avgTca>9.8</avgTca><avgLmac>7.1</avgLmac><avgTs>24.3</avgTs><minTg>23.1</minTg><avgCm5Te>25.2</avgCm5Te><avgCm10Te>24.7</avgCm10Te><avgCm20Te>24.7</avgCm20Te><avgCm30Te>24.9</avgCm30Te><avgM05Te>25.0</avgM05Te><avgM10Te>24.4</avgM10Te><avgM15Te>23.9</avgM15Te><avgM30Te>20.8</avgM30Te><avgM50Te>16.6</avgM50Te><sumLrgEv>0.6</sumLrgEv><sumSmlEv>0.9</sumSmlEv><n99Rn>41.6</n99Rn><iscs>-{비}-0030. {비}0110-{비}{강도0}0300-0335. {박무}0220-{박무}{강도0}0300-{박무}{강도0}0600-0825. {비}0420-{비}{강도0}0600-{비}{강도1}0900-{비}{강도1}1200-{비}{강도1}1500-{비}{강도0}1800-{비}{강도0}2100-2140. {박무}0925-{박무}{강도1}1200-1450. {박무}1550-1710.</iscs><sumFogDur>0.0</sumFogDur></item></items><numOfRows>999</numOfRows><pageNo>1</pageNo><totalCount>2</totalCount></body></response>

In [5]:
import xmltodict
json_ = response.text
jsonString = json.dumps(xmltodict.parse(json_), indent=4)
json_object = json.loads(jsonString)

In [130]:
#json_ = response.text

In [6]:
json_object

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL_SERVICE'},
  'body': {'dataType': 'XML',
   'items': {'item': [{'stnId': '108',
      'tm': '2020-08-08',
      'avgTa': '24.2',
      'minTa': '22.7',
      'minTaHrmt': '432',
      'maxTa': '26.1',
      'maxTaHrmt': '1628',
      'mi10MaxRnHrmt': '2028',
      'hr1MaxRn': '5.9',
      'hr1MaxRnHrmt': '2026',
      'sumRn': '19.1',
      'maxInsWs': '7.5',
      'maxInsWsWd': '110',
      'maxInsWsHrmt': '1055',
      'maxWs': '3.7',
      'maxWsWd': '70',
      'maxWsHrmt': '852',
      'avgWs': '2.3',
      'hr24SumRws': '1949',
      'maxWd': '70',
      'avgTd': '22.3',
      'minRhm': '77',
      'minRhmHrmt': '1045',
      'avgRhm': '89.5',
      'avgPv': '27.0',
      'avgPa': '993.2',
      'maxPs': '1004.7',
      'maxPsHrmt': '1',
      'minPs': '1001.3',
      'minPsHrmt': '1958',
      'avgPs': '1002.9',
      'ssDur': '13.9',
      'sumSsHr': '1.8',
      'hr1MaxIcsrHrmt': '1600',
      'hr1MaxIcsr': '1.08',
      'sumGsr': '6.96',
      'ddMefs': '0.0',
      'ddMefsHrmt': '0',
      'ddMes': '0.0',
      'ddMesHrmt': '0',
      'sumDpthFhsc': '0.0',
      'avgTca': '9.1',
      'avgLmac': '7.3',
      'avgTs': '24.9',
      'minTg': '20.6',
      'avgCm5Te': '25.3',
      'avgCm10Te': '24.9',
      'avgCm20Te': '24.9',
      'avgCm30Te': '25.0',
      'avgM05Te': '25.1',
      'avgM10Te': '24.5',
      'avgM15Te': '24.0',
      'avgM30Te': '21.2',
      'avgM50Te': '16.7',
      'sumLrgEv': '1.1',
      'sumSmlEv': '1.5',
      'n99Rn': '31.1',
      'iscs': '{비}1120-{비}{강도0}1200-{비}{강도0}1500-1610. {박무}1145-{박무}{강도0}1200-1230. {비}1825-{비}{강도1}2100-{비}{강도0}2400- {박무}1955-{박무}{강도0}2100-2330.',
      'sumFogDur': '0.0'},
     {'stnId': '108',
      'tm': '2020-08-09',
      'avgTa': '24.9',
      'minTa': '23.7',
      'minTaHrmt': '1',
      'maxTa': '25.8',
      'maxTaHrmt': '2330',
      'mi10MaxRnHrmt': '1107',
      'hr1MaxRn': '13.9',
      'hr1MaxRnHrmt': '1337',
      'sumRn': '50.3',
      'maxInsWs': '12.4',
      'maxInsWsWd': '180',
      'maxInsWsHrmt': '1256',
      'maxWs': '6.8',
      'maxWsWd': '200',
      'maxWsHrmt': '1241',
      'avgWs': '2.6',
      'hr24SumRws': '2278',
      'maxWd': '200',
      'avgTd': '24.0',
      'minRhm': '89',
      'minRhmHrmt': '2038',
      'avgRhm': '95.4',
      'avgPv': '29.9',
      'avgPa': '992.5',
      'maxPs': '1003.4',
      'maxPsHrmt': '2323',
      'minPs': '1001.4',
      'minPsHrmt': '835',
      'avgPs': '1002.2',
      'ssDur': '13.8',
      'sumSsHr': '0.0',
      'hr1MaxIcsrHrmt': '900',
      'hr1MaxIcsr': '0.17',
      'sumGsr': '1.43',
      'ddMefs': '0.0',
      'ddMefsHrmt': '0',
      'ddMes': '0.0',
      'ddMesHrmt': '0',
      'sumDpthFhsc': '0.0',
      'avgTca': '9.8',
      'avgLmac': '7.1',
      'avgTs': '24.3',
      'minTg': '23.1',
      'avgCm5Te': '25.2',
      'avgCm10Te': '24.7',
      'avgCm20Te': '24.7',
      'avgCm30Te': '24.9',
      'avgM05Te': '25.0',
      'avgM10Te': '24.4',
      'avgM15Te': '23.9',
      'avgM30Te': '20.8',
      'avgM50Te': '16.6',
      'sumLrgEv': '0.6',
      'sumSmlEv': '0.9',
      'n99Rn': '41.6',
      'iscs': '-{비}-0030. {비}0110-{비}{강도0}0300-0335. {박무}0220-{박무}{강도0}0300-{박무}{강도0}0600-0825. {비}0420-{비}{강도0}0600-{비}{강도1}0900-{비}{강도1}1200-{비}{강도1}1500-{비}{강도0}1800-{비}{강도0}2100-2140. {박무}0925-{박무}{강도1}1200-1450. {박무}1550-1710.',
      'sumFogDur': '0.0'}]},
   'numOfRows': '999',
   'pageNo': '1',
   'totalCount': '2'}}}

In [132]:
print(len(json_object['response']['body']['items']['item']))

1

In [7]:
print(json_object['response']['body']['items']['item']['year']['info'][0])

TypeError: list indices must be integers or slices, not str

In [15]:
s = 0
j = 0
key_ = json_object['response']['body']['items']['item']['year']['info'][0].keys()
for i in json_object['response']['body']['items']['item']['year']['info']:
    if j <= len(json_object['response']['body']['items']['item']):
        #val_ = i.values()
        #print(val_)
        #key_ = i.keys()
        #dict_ = dict(zip(key_, val_))
        #print(dict_)
        df = pd.DataFrame()
        for _, values_ in i.items():
            for z in range(len(key_)):
                df.loc[j,z] = values_
            j+=1
        s +=1

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96
1,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도,독도
2,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
3,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145
4,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165
5,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300
6,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02,08/02
7,128,128,128,128,128,128,128,128,128,128,128,128,128,128,128,128,128
8,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14
9,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26,01/26
10,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
11,323,323,323,323,323,323,323,323,323,323,323,323,323,323,323,323,323
12,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW,WSW
13,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03,10/03
14,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790,4790
15,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230
16,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15,11/15

In [17]:
df = df.transpose()

In [18]:
key_ = list(key_)

In [19]:
df.transpose()
import numpy as np
df.columns = [key_]
df

,stnId,stnKo,mm,taDay,taMaxAvg,taMax,taMaxDay,taMinAvg,taMin,taMinDay,wsDay,wsInsMax,wdInsMax,wsInsMaxTm,rnDay,rn1hrMax,rn1hrMaxTm
0,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
1,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
2,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
3,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
4,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
5,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
6,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
7,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
8,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
9,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
10,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
11,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
12,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
13,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
14,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
15,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15
16,96,독도,null,145,165,300,08/02,128,-14,01/26,38,323,WSW,10/03,4790,230,11/15

In [83]:
s = 0
j = 0
key_ = json_object['response']['body']['items']['item'][0].keys()
for i in json_object['response']['body']['items']['item']:
    if j <= len(json_object['response']['body']['items']['item']):
        #val_ = i.values()
        #print(val_)
        #key_ = i.keys()
        #dict_ = dict(zip(key_, val_))
        #print(dict_)
        df = pd.DataFrame(columns=key_)
        for _, values_ in i.items():
            print(values_)
            j+=1
        s +=1

2020-07-31 10:00
도시대기
0.003
0.3
0.028
0.023
21
25
15
17
54
2
1
1
1
1
1
2
1
1
2020-07-31 09:00
도시대기
0.003
0.3
0.025
0.019
28
25
18
17
54
2
1
1
1
1
1
2
1
2

In [82]:
tes_1

array('2', dtype='<U1')

In [31]:
a = print(json_object['response']['body']['items']['item'][0].values())

dict_values(['2020-07-31 10:00', '도시대기', '0.003', '0.3', '0.028', '0.023', '21', '25', '15', '17', '54', '2', '1', '1', '1', '1', '1', '2', '1', '1'])

In [42]:
sam = json_object['response']['body']['items']['item'][2]

In [45]:
sam

{'dataTime': '2020-07-31 08:00',
 'mangName': '도시대기',
 'so2Value': '0.003',
 'coValue': '0.3',
 'o3Value': '0.013',
 'no2Value': '0.023',
 'pm10Value': '28',
 'pm10Value24': '25',
 'pm25Value': '17',
 'pm25Value24': '17',
 'khaiValue': '54',
 'khaiGrade': '2',
 'so2Grade': '1',
 'coGrade': '1',
 'o3Grade': '1',
 'no2Grade': '1',
 'pm10Grade': '1',
 'pm25Grade': '2',
 'pm10Grade1h': '1',
 'pm25Grade1h': '2'}

In [52]:
for kk, vv in sam.items():
    print(kk)
    print(vv)

dataTime
2020-07-31 08:00
mangName
도시대기
so2Value
0.003
coValue
0.3
o3Value
0.013
no2Value
0.023
pm10Value
28
pm10Value24
25
pm25Value
17
pm25Value24
17
khaiValue
54
khaiGrade
2
so2Grade
1
coGrade
1
o3Grade
1
no2Grade
1
pm10Grade
1
pm25Grade
2
pm10Grade1h
1
pm25Grade1h
2